.App {
  background-image: linear-gradient(lightskyblue,lightgrey);
  text-align: center;
  border: 4px solid black;
  padding: 10px;
  font-family: 'Times New Roman', Times, serif;
}
.App-div{
  text-align: center;
  border: 4px solid darkolivegreen;
  padding: 10px;
  margin-bottom: 1px;
}
h1{
  color: darkblue;
}
h2{
  color: darkgreen;
}
.App-form{
  padding: 10px;
  text-align: center;
}
.divone{
  border: 4px solid grey;
  padding-top: 5px;
  background-image: linear-gradient(orange,lightseagreen);
  margin-bottom: 1px;
}
table{
  text-align: center;
  background-image: linear-gradient(orange,lightseagreen);
}
tr{
  text-align: center;
}
td{
  border: 4px solid grey;
  padding: 5px;
  width: 30.17%;
}